@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: calc(100vw - 100px);
  margin: 30px auto;
  overflow: auto;
  min-height: calc(100vh - 100px);
  border: 7px solid black;
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.header{
  text-align: center;
  width: 100%;
  margin-bottom:20px;
}
.display {
  border: 3px solid steelblue;
  width: 50%;
  margin: 0 auto;
  overflow: auto;
  word-break: keep-all;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.joke{
  color: rgb(40, 56, 56);
  font-weight: 590;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .display{
    width: 100%;
  }
  .btnDiv {
    bottom: 50px;
  }
  .button{
    width: 100%; 
  }
}
.btnDiv {
  width: 50%;
  margin: 0 auto;
  overflow: auto;
  word-break: keep-all;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
}
button{
  margin: 10px;
  display: flex;
  background: rgb(76, 76, 193);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition: opacity 0.2s ease-in-out;
}
button:focus {
  outline: none;
}

button.hover{
   opacity: 0.5;
}

button:active {
  transform: scale(0.98);
}





